In [1]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup as bs

C:\Users\ashra\anaconda3\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\ashra\anaconda3\lib\site-packages\numpy\.libs\libopenblas.FB5AE2TYXYH2IJRDKGDGQ3XBKLKTF43H.gfortran-win_amd64.dll
C:\Users\ashra\anaconda3\lib\site-packages\numpy\.libs\libopenblas64__v0.3.21-gcc_10_3_0.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [2]:
Header = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/113.0.0.0 Safari/537.36',
       'Accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8',
       'Accept-Charset': 'ISO-8859-1,utf-8;q=0.7,*;q=0.3',
       'Accept-Encoding': 'none',
       'Accept-Language': 'en-US,en;q=0.8',
       'Accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8',
       'Connection': 'keep-alive'}

zomato_page = requests.get('https://www.zomato.com/hyderabad',headers=Header)
soup = bs(zomato_page.content,'html.parser')
zomato_page

In [3]:
URL_list=[]
hotel_name =[]
Rating =[]
Cuisine_type=[]
price_for_one=[]
orders_placed=[]
#<a href="/hyderabad/hotel-nakshatra-inn-kothapet/order" class="sc-eFTCDY bLyCCN">

In [5]:
container = soup.find('div' , class_='jumbo-tracker')##sc-cVxdjG dkedrC
href_block = container.find_all("a" , class_="sc-eFTCDY bLyCCN")
for i in href_block:
        href = 'https://www.zomato.com/hyderabad'+i['href']
        URL_list.append(href)
        hotel_name = container.find("h4" , class_="sc-1hp8d8a-0 sc-imDdex fdjWVR").text.strip()
        Rating= container.find("div" , class_="sc-1q7bklc-1 cILgox").text.strip()
        Hotel_food_type = container.find("p", class_= "sc-1hez2tp-0 sc-lCmQh gdSpaT").text.strip()
        price_for_one = container.find("p", class_= "sc-1hez2tp-0 sc-lffWgi liHDRm").text.strip()
        orders_placed = container.find("p", class_= "sc-1hez2tp-0 sc-jFpLkX ehsUSs").text.strip()

In [6]:
Restuarant_overview =pd.DataFrame(list(zip(hotel_name,URL_list,Rating,Cuisine_type,price_for_one,orders_placed)) ,columns=['Hotel_Name','URL','Rating','Cuisine_type','price_for_one','No_orders_placed'])
Restuarant_overview

Empty DataFrame
Columns: [Hotel_Name, URL, Rating, Cuisine_type, price_for_one, No_orders_placed]
Index: []